{#
  Override of partials/content.html to add Waline comment section.
#}

{% if "navigation.comments" in features %}
  {% set disqus = config.extra.disqus %}
  {% set cusdis = config.extra.cusdis %}
{% endif %}

<!-- Page content -->
{% if page.meta and page.meta.search and page.meta.search.exclude %}
  {% set hidden = "hidden" %}
{% elif page.meta and page.meta.search and not page.meta.search.exclude %}
  {% set hidden = "" %}
{% else %}
  {% set hidden = "" %}
{% endif %}

<div class="md-content" data-md-component="content" {% if hidden %}hidden{% endif %}>
  <article class="md-content__inner md-typeset">
    {# Render page content #}
    {{ page.content }}

    {# Waline 评论区 - 可通过 frontmatter comments: false 禁用 #}
    {% if page.meta.comments is not defined or page.meta.comments != false %}
    <div id="waline"></div>
    {% endif %}
  </article>
</div>
